#!/bin/bash

export CONFIG_FIRMWARE_PRODUCT_ID=MI-R3G
export CONFIG_FIRMWARE_KERNEL=3.4

export CONFIG_FIRMWARE_ENABLE_JFFS2=y
export CONFIG_FIRMWARE_JFFS2_ON_NAND=y

export CONFIG_VENDOR=XIAOMI
export CONFIG_PRODUCT=MT7621

export CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
export CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

export CONFIG_FIRMWARE_ENABLE_IPV6=y
export CONFIG_FIRMWARE_ENABLE_USB=y
export CONFIG_FIRMWARE_ENABLE_UFSD=y
export CONFIG_FIRMWARE_ENABLE_FAT=y
export CONFIG_FIRMWARE_ENABLE_EXFAT=y
export CONFIG_FIRMWARE_ENABLE_EXT4=y
export CONFIG_FIRMWARE_ENABLE_XFS=y
export CONFIG_FIRMWARE_ENABLE_HFS=y
export CONFIG_FIRMWARE_ENABLE_FUSE=y
export CONFIG_FIRMWARE_ENABLE_SWAP=y

export CONFIG_FIRMWARE_INCLUDE_UVC=y
export CONFIG_FIRMWARE_INCLUDE_HID=y
export CONFIG_FIRMWARE_INCLUDE_SERIAL=y
export CONFIG_FIRMWARE_INCLUDE_AUDIO=y
export CONFIG_FIRMWARE_INCLUDE_XFRM=y
export CONFIG_FIRMWARE_INCLUDE_QOS=y
export CONFIG_FIRMWARE_INCLUDE_IMQ=y
export CONFIG_FIRMWARE_INCLUDE_IFB=y
export CONFIG_FIRMWARE_INCLUDE_IPSET=y
export CONFIG_FIRMWARE_INCLUDE_NFSD=y
export CONFIG_FIRMWARE_INCLUDE_NFSC=y
export CONFIG_FIRMWARE_INCLUDE_CIFS=y
export CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
export CONFIG_FIRMWARE_ENABLE_BACKPORTED=y

export CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

export CONFIG_FIRMWARE_INCLUDE_LPRD=y
export CONFIG_FIRMWARE_INCLUDE_U2EC=y
export CONFIG_FIRMWARE_INCLUDE_USBIP=y
export CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
export CONFIG_FIRMWARE_INCLUDE_HDPARM=y
export CONFIG_FIRMWARE_INCLUDE_PARTED=y
export CONFIG_FIRMWARE_INCLUDE_SMBD=y
export CONFIG_FIRMWARE_INCLUDE_SMBD36=y
export CONFIG_FIRMWARE_INCLUDE_TESTPARM=y
export CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y
export CONFIG_FIRMWARE_INCLUDE_FTPD=y
export CONFIG_FIRMWARE_INCLUDE_FTPD_SSL=y
export CONFIG_FIRMWARE_INCLUDE_RPL2TP=y
export CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
export CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
export CONFIG_FIRMWARE_INCLUDE_HTTPS=y
export CONFIG_FIRMWARE_INCLUDE_SFTP=y
export CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
export CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
export CONFIG_FIRMWARE_INCLUDE_SSWAN=y
export CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
export CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
export CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
export CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
export CONFIG_FIRMWARE_INCLUDE_MINIDLNA=y
export CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=y
export CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y
export CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=y
export CONFIG_FIRMWARE_INCLUDE_ARIA=y
export CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y
export CONFIG_PACKAGE_luci-app-shadowsocks=y
export CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y
export CONFIG_FIRMWARE_INCLUDE_LUCI_APP_SHADOWSOCKS=y

# OBFS4 вырезан (освободили место для Shadowsocks)
# export CONFIG_FIRMWARE_INCLUDE_OBFS4=y

export CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y
export CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y
export CONFIG_FIRMWARE_INCLUDE_STUBBY=y
export CONFIG_FIRMWARE_INCLUDE_DOH=y
export CONFIG_FIRMWARE_INCLUDE_WPAD=y
export CONFIG_FIRMWARE_INCLUDE_ZRAM=y
export CONFIG_FIRMWARE_INCLUDE_ADB=y
export CONFIG_FIRMWARE_INCLUDE_LUA=y
export CONFIG_FIRMWARE_INCLUDE_EOIP=y
export CONFIG_FIRMWARE_INCLUDE_CURL=y
export CONFIG_FIRMWARE_INCLUDE_VLMCSD=y
export CONFIG_FIRMWARE_INCLUDE_IPERF3=y
export CONFIG_FIRMWARE_INCLUDE_MT7621_CPUFREQ=y
export CONFIG_FIRMWARE_INCLUDE_SOCAT=y
export CONFIG_FIRMWARE_INCLUDE_NDISC6_RDISC6=y
export CONFIG_FIRMWARE_INCLUDE_QUIC=y
export CONFIG_FIRMWARE_INCLUDE_QUIC_NGTCP2=y
export CONFIG_FIRMWARE_INCLUDE_OPENSSL_35=y
export CONFIG_FIRMWARE_INCLUDE_NFQWS=y

# Shadowsocks добавлен
export CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

export CONFIG_CC_OPTIMIZE_FOR_SIZE=y
